<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Course Outcomes | Home</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dLJo6w0Kf" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="styles.css">


  <style>
   
   body {
    color: white;
   }
    .navbar {
      font-weight: 600;
    }

    .heroSecImg {
      height: 400px;
      width: 300px;
      padding: 70px;
      
    }

    .card {
      border: 5px solid #3590da;
      border-radius: 9px;
      height: auto;
      width: auto;
    }

    .nav-brand {
      font-weight: 800;
    }

  </style>

</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" >
    <a class="navbar-brand" href="https://www.nitj.ac.in/">NIT Jalandhar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signin">Signin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Hero Section -->
  <section class="hero-section" style="background-color: #3590da;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h1>Course Outcomes</h1>
          <p>Our Website simplifies the document creation process, so you can focus on your content and let us handle the design.</p>
          <a href="/signup" class="btn btn-primary">Get Started</a>
        </div>

        <div class="col-md-6 heroSecImg">
          <img src="https://www.nitj.ac.in/images/menu_content/dsc_0707.jpg" alt="Hero Image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>


  <!-- Features Section -->
<section class="features-section mt-5" style="color :#3590da">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <i class="fas fa-file-alt fa-3x"></i>
            <h3 class="card-title">Easy Document Creation</h3>
            <hr>
            <p class="card-text">Our intuitive interface makes it easy to create PDFs in minutes, without any design skills required.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <i class="fas fa-magic fa-3x"></i>
            <h3 class="card-title">Customizable Templates</h3>
            <hr>
            <p class="card-text">Choose from a variety of customizable templates to make your PDFs stand out, or create your own template from scratch.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <i class="fas fa-lock fa-3x"></i>
            <h3 class="card-title">Secure and Private</h3>
            <hr>
            <p class="card-text">Your data is encrypted and your documents are only accessible by you and the people you choose to share them with.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cta-section mt-5 pt-3 pb-3 text-center " style="background-color: #3590da;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
  
            <h2 class="card-title">Create Course Outcomes file today!</h2>
            <p class="card-text">Sign up now and get started with our advanced PDF maker.</p>
            <a href="/signup" class="btn btn-primary">Sign Up</a>
          
      </div>
    </div>
  </div>
</section>


<!-- Testimonials Section -->
<div class="card-group mt-5 mx-5" style="color: #3590da;">
  <div class="card">
    <div class="card-body">
      <p class="card-text">"I've tried many PDF makers before, but Advance PDF Maker is by far the best. It's easy to use and produces professional-looking documents every time."</p>
    </div>
    <div class="card-footer">
      
      <h5 class="card-title">Jane Doe</h5>
      <p class="card-text">Marketing Manager</p>
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <p class="card-text">"The ability to customize templates has saved me so much time. Now I can create PDFs with my own branding and design elements without any hassle."</p>
    </div>
    <div class="card-footer">
      
      <h5 class="card-title">John Smith</h5>
      <p class="card-text">Entrepreneur</p>
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <p class="card-text">"I was worried about the security of my documents, but Advance PDF Maker has put my mind at ease. The encryption is top-notch and I have complete control over who can access my files."</p>
    </div>
    <div class="card-footer">
      
      <h5 class="card-title">Sara Johnson</h5>
      <p class="card-text">Lawyer</p>
    </div>
  </div>
</div>


<footer class="mt-5">
  <div class="container text-center" style="background-color: #3590da;">
    
    <div class="row">
      <div class="col-md-12">
        <hr>
        <p>&copy; 2023 Your Website | All Rights Reserved | Privacy Policy</p>
      </div>
    </div>
  </div>
</footer>

    


    



  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
 

</body>

</html>