<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="style.css">
    <title>Index</title>
    
</head>
<body>
    <div class="container">
         <div class="header">
            <h3 id="clg_name">
                DR. B.R. AMBEDKAR NATIONAL INSTITUTE OF TECHNOLOGY, JALANDHAR
            </h3>
            <h4 id="sub_name">
                {{sub_name}}
            </h4>
            <h5 id="sem">
                <span>{{programme}}({{branch}})&nbsp;{{semester}}&nbsp;sem</span>
            </h5>
        </div>
        <div id="index">
            <h3>Index</h3>
            <ol>
                <li>Vision, Mission and PEOs of the Department</li>
                <li>POs and PSOs of the Department</li>
                <li>Syllabus with COs-POs/PSOs Mapping</li>
                <li>Time Table</li>
                <li>Lecture Plan</li>
                <li>Attendance Record</li>
                <li>Assignments & Tutorials</li>
                <li>Question Papers</li>
                <li>Awarded Grade Sheets</li>
                <li>Course Articulation Matrix and CO-PO Attainment</li>
            </ol>
        </div>
    </div>
    
</body>
</html>