<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signin</title>
    <link rel="stylesheet" href="responsive.css" />
    <link rel="stylesheet" href="main.css" />
    <!-- <link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
  </head>
  <body>
    <div class="container-fluid" style="background-color:#267dc4;">
      <div class="row" style="background-color:#FECD0B; height:4px"> </div>

      <div class="container">
        <div class="row">
          <div class="col-md-8" style="padding-top:12px">
            <div class="logo">
              <a
                href="https://www.nitj.ac.in/erp/user_home"
                title="NIT Jalandhar"
                rel="home"
              >
                <img
                  src="https://www.nitj.ac.in/erp/Images/logo.png"
                  alt="NIT Jalandhar"
                />
              </a>
            </div>
            <!-- /.logo -->

            <div class="logo2">
              <a
                href="https://www.nitj.ac.in/erp/user_home"
                title="NIT Jalandhar"
                rel="home"
              >
                <img
                  src="https://www.nitj.ac.in/erp/Images/logo2.png"
                  alt="NIT Jalandhar"
                /></a><br /><br />
              <p
                style="width:100%; font-family:Times New Roman; letter-spacing:1px; font-size:22px; color:white; line-height:30px;"
              >
                डॉ बी आर अम्बेडकर राष्ट्रीय प्रौद्योगिकी संस्थान, जालंधर<br />
                Dr B R Ambedkar National Institute of Technology, Jalandhar</p>

            </div>
            <!-- Responsive .logo -->
          </div>
          <!-- /.col-md-8 -->
        </div>
      </div>
    </div>

    <div class="container" style="min-height:430px">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

          <div class="panel panel-primary">
            <div class="panel-heading panel-head">Login</div>
            <div class="panel-body">
              <img
                class="form_logo"
                src="https://www.nitj.ac.in/erp/Images/login_logo.png"
              /><br /><br />

              <form action="/signin" method="post">
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter Username"
                    value=""
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input
                    type="password"
                    class="form-control"
                    id="pwd"
                    name="pwd"
                    placeholder="Enter Password"
                    required
                  />
                </div>

                <div style="text-align:center">
                  <button
                    type="submit"
                    name="login"
                    class="form_btn btn btn-primary"
                  >Login</button>
                  <p>Don't have an account
                    <a class="redirect" href="/signup">Signup</a></p>
                </div>
                <br />
                

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>